@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
.calculator {
    position: relative;
    display: grid;
}
.calculator .value {
    grid-column: span 4;
    height: 100px;
    padding: 10px;
    text-align: right;
    border: none;
    outline: none;
    font-size: 18px;
}
.calculator span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #ffff;
    background: #0c2835;
    border: 1px solid rgba(0, 0, 0, .1);
    place-items: center;
}
.calculator span:active {
    background: #74ff3b;
    color: #111;
}
span.clear {
    grid-column: span 2;
    width: 120px;
    background: #ff3077;
}
span.plus {
    grid-row: span 2;
    height: 120px;
}
span.equal {
    background: #03b1ff;
}